footer {
  border-top: 1px solid $accent;
  p {
    text-align: center;
    font-size: 1rem;
    a:hover {
      text-decoration: underline;
    }
  }
}

.up {
  position: fixed;
  right: 50px;
  top: 520px;
  font-size: 3rem;
  color: $white;
  visibility: hidden;
  opacity: 50%;
}

.up:hover,
.up:focus,
.up:active {
  color: $accent;
}