body {
  background: $black;
  color: $white;
  font-family: $mainFont;
}

.wrapper {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
}