body {
  background: $black;
  color: $white;
  font-family: $mainFont;
  cursor: default;
}

.wrapper {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1440px;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

h2 {
  text-align: center;
  font-size: 3.5rem;
  color: rgb(255,255,255, 0.4);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
}