@media (min-width: 700px) {
  .logoContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .mainNav {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .instagramFeed {
    margin-top: 50px;
  }

  .up {
    visibility: visible;
  }
}

@media (min-width: 1220px) {
  .topBar {
    display: flex;
    flex-wrap: wrap;
    .triadContainer {
      padding-top: 10px;
    }
  }
}