@media (min-width: 700px) {

  .logoContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .mainNav {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .up {
    visibility: visible;
  }
}

@media (min-width: 1220px) {

  .topBar {
    display: flex;
    flex-wrap: wrap;
  }
}